img{
  width: 100%;
}
header{ 
  position: relative;
  }

div {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Abril Fatface', cursive; 
  font-size: 50px}

.fatface {
  font-family: 'Abril Fatface', cursive; 
font-size: 50px}
blockquote {
  background: #222;
  color: white;
  text-align: left;
  padding: 10px;
  margin: auto;
  letter-spacing: 0px;
  line-height: 1.5;
  text-indent: left;
  width:80%
}
blockquote::before {
  content: '”';
}
h2{
  font-family: 'Merriweather', serif;
  line-height: 1
  
  
}
.uppercase{
  text-transform: uppercase;
  line-height: 2;
}
.italic{
  font-style: italic;
  font-size: 15px;
  line-height: 0;
}
p, li {
  font-family: 'Josefin Sans', sans-
    serif;
  
}
footer {
  margin: auto;
  border-top: 5px;
  padding-top: 5px;
  border-top: 3px solid
}
section {
  display: block;
  margin: auto;
  width: 63%
}